@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                @User.Identity.Name
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Manage
                </a>
            </div>
        </div>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </a>
                </div>
            </div>
        </form>

    </div>
}
else
{
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary" asp-area="Identity" asp-page="/Account/Register">
                    <strong>Register</strong>
                </a>
                <a class="button is-light" asp-area="Identity" asp-page="/Account/Login">
                    Login
                </a>
            </div>
        </div>
    </div>
}

