@model Home_Library.Models.GameLibraryViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h1>Zawartość biblioteki @Model.Name</h1>

Test:<p>@Model.ItemCount</p>

<div>
    <hr />

    <table>
        <thead>
            <tr>
                <th>Tytuł</th>
            </tr>
        </thead>

        <tbody>
            @* @foreach (var item in Model.Games!)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                </tr>
            } *@
        </tbody>
    </table>

    

</div>