@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>See what you can do</p>
</div>

<div>

<div class="row">
        @if(User.Identity!.IsAuthenticated)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Manage</h5>
                        <p class="card-text">Edit your account.</p>
                        <a asp-area="Identity" asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Libraries</h5>
                        <p class="card-text">Manage your libraries.</p>
                        <a asp-controller="Libraries" asp-action="Index" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Games</h5>
                        <p class="card-text">Add new entries to the database.</p>
                        <a asp-controller="Games" asp-action="Index" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>

        } else
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <p class="card-text">Create a new account.</p>
                        <a asp-area="Identity" asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <p class="card-text">Use a local account to log in.</p>
                        <a asp-area="Identity" asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>
        }


</div>


